<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Mediapipe Control Panel</title>
</head>

<body class="bg-gray-100 text-black h-screen">
  <div class="flex flex-col gap-2">
    <div class="flex flex-row">
      <img src="{{ url_for('main.video') }}" alt="Video" />
      <!--<img src="{{ url_for('main.plot') }}" alt="Video" />-->
    </div>

    <div class="flex flex-row gap-2">
      <div hx-get="/config" hx-swap="outerHTML" hx-trigger="load"></div>
    </div>
  </div>
</body>

</html>
